:root {
    --color-accent: oklch(65% 50% 0);
    accent-color: var(--color-accent);
  }
h1, h2, h3, h4, h5, h6 {
    line-height: 1.1;
    text-wrap: balance;
  }
h1 {
    font-size: 300%;
  }
body {
      font: 100%/1.5 system-ui;
      max-width: 100ch;
      margin-inline: auto;
      padding: 5ch;
    }
.projects {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(15em, 1fr));
  gap: 1em;
}
.projects article {
  display: grid;
  grid-template-rows: subgrid;
  grid-row: span 3;
}
.projects h2 {
  margin: 0;
}
